/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #F8F9FA;
}

/* Cabeçalho */
header {
    background-color: #007BFF;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo img {
    max-height: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

header nav a:hover, header nav a.active {
    color: #F8F9FA;
}


@media (max-width: 768px) {
    header nav {
        display: none;
    }
}

/* Seções */
.section {
    padding: 80px 20px;
    text-align: center;
}

.section-banner {
    background-color: #007BFF;
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.section-banner p {
    font-size: 1.25rem;
}


section a{
    text-decoration: none;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

form button {
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form a {
    text-decoration: none;
}

form button:hover {
    background-color: #0056b3;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .social a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1.1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    header nav {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #007BFF;
        padding: 15px;
        border-radius: 8px;
        display: none;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
